body {
    align-items: center;
    background-color: #ffd54f;
    /* display: flex; */
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
    width: 300px;
    height: 400px;
}
.bottom-drawer{
    background-color: transparent;
    position: fixed;
    bottom: 0px;
    text-align: center;
} 

.bottom-drawer button{
    background: red;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    cursor:pointer;
} 
.button-drawer button:hover {
    background-color: rgb(255, 255, 255);
    color: white;
    background: white;
}

#time-page{
    margin: 0 auto;
    text-align: center;
}
#timer-btns{
    text-align: center;
    position: relative;
    top: 120px;
}
#timer{
    border: Black solid 0.3rem;
    border-radius:12rem;
    position: relative;
    top:20px;
    text-align: center;
    font-size: 5em;
    
} 
.done span{
    text-decoration: line-through;
}
svg{
    width: 64px;
    height: 64px;
}
#todo-items .delete-todo{
    position: fixed;
    right: 40px;
}
#timer-settings{
    content: "\f013";
    position: relative;
    top: 40px;
    cursor: pointer;
}
.user-in{
    width:45px;
}
#save-timer-settings{
    cursor: pointer;
}